doctype html

include meta/mixins
include meta/variables
include meta/svg-library

html
	head
		+OGhead('QSTemplate Title' ,'QSTemplate OG Title', 'QSTemplate Url', 'QSTempalte Image', 'QSTemplate Location', 'QSTemplate Description', 'css/main.css')
		+responsiveMeta()
	body
		//- include partials/header
			include partials/nav
		header(data-hero-wrap)
			div(data-hero-content)
				h1 QSTemplate based on Gulp!
				div(data-button-set)
				div(data-button="warning big") Content

		//- include partials/footer
		+script('js/main.js')
